@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The WebAPIController is available at: /api/WebAPI/[action].</p>
    <p> So if you want to fetch the GetItems endpoint, you'd fetch localhost:[port]/api/WebAPI/GetItems</p>

    <p> Bootstrap scripts: </p>
    <textarea cols="100" rows="8" readonly>
<!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </textarea>

    <p> D3 scripts: </p>
    <textarea cols="100" rows="4" readonly>
<script type="module">
import * as d3 from "https://cdn.jsdelivr.net/npm/d3@7/+esm";
</script>
        </textarea>
    <p>Alternatively, both packages have already been installed via NPM. So you can use the NPM equivalent, if you want</p>
</div>
